set g_showcamerainfo 1
set com_showfps 1
set com_showframeinfo 1
set com_showvideoinfo 1
set com_showtimeelapsed 1
set g_camZoom 0.25
set r_render_dims 640,480
set r_window_dims 1280,720
# set r_fullscreen 1 # ignore comments
set g_camSpeed 0.4
set g_playerSpeed 0.6
# set g_gameRate 500
# set g_gravity 1.0
