set g_showcamerainfo 1
set com_showfps 1
set com_showframeinfo 1
set com_showvideoinfo 1
set com_showtimeelapsed 1
set g_camZoom 0.25
set r_window_dims 640,480
set r_window_dims 800,600
# set r_fullscreen 1 # ignore comments
