set g_showCamInfo 1
set com_showFrameInfo 1
set com_showVideoInfo 1
set com_showTimeElapsed 1
set com_showMouseInfo 1
set g_camZoom 0.25
# set g_camZoom 1.0
set r_renderDims 1280,720
set r_windowDims 1280,720
# set r_fullscreen 1 # ignore comments
set g_camSpeed 0.4
set g_playerSpeed 1.2
# set g_gameRate 500
set g_gravity 3.0
set g_jumpDelay 300
