set g_showcamerainfo 1
set com_showfps 1
set com_showframeinfo 1
set com_showvideoinfo 1
set com_showtimeelapsed 1
set g_camZoom 0.25
; set g_camZY -100,0
; set r_customWidth 1280
; set r_customHeight 720
set r_fullscreen 1
